<div >
    <div class="header">
        <div class="title">Simple Calculator Example</div>
    </div>
    <div class="content">
        <div>
            <select id="animal-select">
                <option value="assets/ada.jpg">Ada</option>
                <option value="assets/babbage.jpg">Babbage</option>
            </select>
            <img src="" id="animal-image" />
        </div>
        <div>
            <input type="number" id="first-number" placeholder="First Number" />
            <input type="number" id="second-number" placeholder="Second Number" />
            <select id="operation-select">
                <option value="add">Add</option>
                <option value="subtract">Subtract</option>
                <option value="multiply">Multiply</option>
                <option value="divide">Divide</option>
            </select>
            <button id="calculate-button">Calculate</button>
            <span id="result"></span>
        </div>
    </div>
</div>
